{% extends "workout_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1 style="text-align:center; padding:15px">Advanced Users: Add Workout Type</h1>
<div class="mx-auto" style="max-width: 50rem;">
  <p style="color: #387FF0"><a href="{% url 'add_workout_choose_type' %}" style="color: #387FF0">Add Workout</a> / <a href="{% url 'add_workout_type'%}" style="color:#387FF0">Add Workout Type</a> / <a href="{% url 'add_workout_type_count' %}" style="color: #387FF0">Add Count Type</a></p>
  <p>If you do not see the count component(s) for your workout type in the form below, please click on "Add Count Type" above to add it to the system. You will see the count type in the dropdown of this form once you add it.</p>
  <form action="" method="post">
      {% csrf_token %}
        {{ form|crispy }}
        {% comment %}
        <div class="my-4">
          <a href="{% url 'add_workout_type_count' %}" class="btn btn-outline-secondary">Add New Workout Count</a>
        </div>
        {% endcomment %}
        <div class="text-right">
          <button type="submit" name="Upload Workout Type Count" class="btn btn-dark">Upload Workout Type</button>
          <button type="reset" name="Reset" class="btn btn-secondary">Reset</button>
        </div>
  </form>
</div>

{% endblock %}