{% extends "workout_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1 style="text-align:center; padding:15px">Add Workout Type Count</h1>
<div class="mx-auto" style="width:40%">
  <p style="color: #387FF0"><a href="{% url 'add_workout_linked'%}" style="color: #387FF0">Add Workout</a> / <a href="{% url 'add_workout_type'%}" style="color:#387FF0">Add Workout Type</a> / <a href="{% url 'add_workout_type_count' %}" style="color: #387FF0">Add Count Type</a></p>
  <form action="" method="post">
      {% csrf_token %}
        {{ form|crispy }}
        <div class="text-right">
          <button type="submit" name="Upload Workout Type Count" class="btn btn-dark">Upload Workout Type Count</button>
          <button type="reset" name="Reset" class="btn btn-secondary">Reset</button>
        </div>
  </form>
</div>

{% endblock %}