<!--
*  REFERENCES
*  Title: Date Range Picker
*  Author: Dan Grossman
*  Date: 5/4/2021
*  Code version: 3.1
*  URL: https://www.daterangepicker.com
*  Software License: MIT
-->

{% extends "workout_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1 style="text-align:center; padding:15px">Edit Workout</h1>
<div class="mx-auto" style="max-width: 50rem;">
  <form action="" method="post">
      {% csrf_token %}
        {{ form|crispy }}
        <div class="text-right">
          <button type="submit" name="Update Workout" class="btn btn-dark">Update Workout</button>
          <button type="reset" name="Reset" class="btn btn-secondary">Reset</button>
        </div>
  </form>
</div>

<script>
  $('input[name="date_range"]').daterangepicker();
</script>

{% endblock %}