{% extends "workout_app/base.html" %}

{% block content %}

    {% load socialaccount %}
    <html>
        <body>
            <div>
                {% if user.is_authenticated %}


                 <div style="height:50px;"></div>
                 <div class="card mx-auto mb-3" style="max-width: 30rem">
                    <div class="card-header" style="background-color:#eef4fe">
                        <div class="text-center">
                            <h2 style="style=padding:15px; font-weight:bold; font-weight:bold; font-size:25px">Account Info</h2>
                        </div>
                    </div>

                  <div class="card-body" style="text-align:center">
                    <p>Logged in as: {{ user.email }}</p>
                    <p>Leaderboard Username: {{ user.username }}</p>
                    <p>Default ZIP Code: {{ user.profile.zipcode }}</p>
                    <p>{{ user.profile.achievement_points }} point{{ user.profile.achievement_points|pluralize }} • {{ user.profile.achievement_num }} achievement{{ user.profile.achievement_num|pluralize }}</p>
                    <div style="padding: 5px 5px 5px 5px"> <a href="/change_username"><button class="btn btn-secondary">Change Leaderboard Username</button></a> </div>
                    <div style="padding: 5px 5px 5px 5px"> <a href="/change_zipcode"><button class="btn btn-secondary">Change Default Zipcode</button></a> </div>
                    <div style="padding: 5px 5px 5px 5px"> <a href="/logout"><button class="btn btn-dark">Logout</button></a> </div>
                  </div>
                  </div>
                {% else %}
                <div style="height:50px;"></div>
                 <div class="card mx-auto mb-3" style="max-width: 30rem">
                    <div class="card-header" style="background-color:#eef4fe">
                        <div class="text-center">
                            <h2 style="style=padding:15px; font-weight:bold; font-weight:bold; font-size:25px">Login To Your Account</h2>
                            <h6 style="font-size:15px">You are not currently logged in.</h6>
                        </div>
                    </div>

                  <div class="card-body" style="text-align:center">
                    <a href="{% provider_login_url 'google' %}"><button class="btn btn-dark">Login or Create Account With Google</button></a>
                  </div>
                </div>
                {% endif %}
            </div>
        </body>
    </html>

{% endblock %}