{% extends "workout_app/base.html" %}

{% block content %}

    {% load socialaccount %}
    <html>
        <body>
            <div style="text-align:center">
                <h1 style="padding:15px">Account Login & Account Info</h1>
                {% if user.is_authenticated %}
                <p>You are logged in as {{ user.username }} with email {{ user.email }}</p>
                <a href="/logout"><button class="btn btn-dark">Logout</button></a>
                {% else %}
                <p>You are not currently logged in</p>
                <a href="{% provider_login_url 'google' %}"><button class="btn btn-dark">Login With Google</button></a>
                {% endif %}
            </div>
        </body>
    </html>

{% endblock %}