{% extends "workout_app/base.html" %}

{% block content %}

    {% load socialaccount %}
    <html>
        <body>
            <div>
                {% if user.is_authenticated %}
                <div class="text-center">
                    <h1 style="padding:15px">Account Info</h1>
                    <p>Logged in as: {{ user.email }}</p>
                    <p>Default ZIP Code: {{ user.profile.zipcode }}</p>
                    <p>{{ user.profile.achievement_points }} point{{ user.profile.achievement_points|pluralize }} • {{ user.profile.achievement_num }} achievement{{ user.profile.achievement_num|pluralize }}</p>
                    <a href="/logout"><button class="btn btn-dark">Logout</button></a>
                </div>
                {% else %}
                <div class="text-center">
                    <h1 style="padding:15px">Login to Your Account </h1>
                    <p>You are not currently logged in.</p>
                    <a href="{% provider_login_url 'google' %}"><button class="btn btn-dark">Login With Google</button></a>
                </div>
                {% endif %}
            </div>
        </body>
    </html>

{% endblock %}