/***
*  REFERENCES
*  Title: Weather API
*  Author: OpenWeather
*  Date: 4/18/2021
*  URL: https://openweathermap.org/api
*
***/

{% extends "workout_app/base.html" %}

{% block content %}

<h1 style="text-align:center; padding:15px;">The Weather for the Selected Workout</h1>

{% comment %}
<div class="col text-center">

    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ weather_info.icon }}.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="title">{{ weather_info.city }}</span>
                        <br>
                        <span class="subtitle">{{ weather_info.temperature }}° F</span>
                        <br> {{ weather_info.description }}
                    </p>
                </div>
            </div>
        </article>
    </div>
    <button onclick="location.href='{% url 'workout_linked_list' %}'" class = "btn btn-outline-secondary" name="BackButton">Back</button>
</div>
{% endcomment %}


<div class="card mx-auto mb-3" style="max-width:25rem;">
    <div class="card-header" style="background-color:#eef4fe">
        <h2 class="text-center" style="color: black; font-weight:bold; font-weight:bold; font-size:25px"> {{ weather_info.city }}</h2>
        <p  class="text-center" style="font-size:15px">{{ current_workout.start_date }}</p>
    </div>
    <div class="card-body text-center">
        <p style="color: black; font-weight:bold; font-size:30px">{{ weather_info.temperature }}° F</span></p>
        <p style="color: black; font-size:20px">{{ weather_info.description }}</span></p>
    </div>
    <p style="text-align:center;"><img src="http://openweathermap.org/img/w/{{ weather_info.icon }}.png" alt="Image"></p>
</div>

<div class="col text-center">
    <button onclick="location.href='{% url 'workout_linked_list' %}'" class = "btn btn-outline-secondary" name="BackButton">Back</button>
</div>


{% endblock %}
