{% extends "workout_app/base.html" %}

{% block content %}

<h1 style="text-align:center; padding:15px">The Weather On {{ current_workout.start_date }} </h1>

<div class="col text-center">


<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-50x50">
                <img src="http://openweathermap.org/img/w/{{ weather_info.icon }}.png" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <span class="title">{{ weather_info.city }}</span>
                    <br>
                    <span class="subtitle">{{ weather_info.temperature }}° F</span>
                    <br> {{ weather_info.description }}
                </p>
            </div>
        </div>
    </article>
</div>

</div>

{% endblock %}