{% extends "workout_app/base.html" %}

{% block content %}
<div class="col text-center">
    <h1 style="padding:15px">Workout Summary Demo</h1>
    <h2 style="padding:15px">Workout Type Summaries</h2>
    {% if wts %}
        {% for wt, wta in wts.items %}
        <div class="card mx-auto mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h2 style="color: black; font-weight:bold"><span style="float:left; font-weight:bold; font-size:25px">{{ wt }} </span>
                </h2>
            </div>
            <div class="card-body" style="text-align:left">
                {% for a in wta %}
                    <p style="color: black"><b>{{a.0}}: </b> <span style="font-weight:lighter; font-size:20px">{{a.1}}</span></p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No workout type summaries are available.</p>
    {% endif %}
    <h2 style="padding:15px">Count Type Summaries</h2>
    {% if cts %}
        {% for wtc, c in cts.items %}
        <div class="card mx-auto mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h2 style="color: black; font-weight:bold"><span style="float:left; font-weight:bold; font-size:25px">{{ wtc }} </span>
                <span style="float:right">
                    {{ c }}
                </span></h2>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No workout count type summaries are available.</p>
    {% endif %}

</div>
{% endblock %}