{% extends "workout_app/base.html" %}

{% block content %}
<div class="col text-center">
    <h1 style="padding:15px">My Workouts</h1>
{% if user_workouts %}
    {% for workout_linked in user_workouts %}
        <div class="card mx-auto mb-3" style="max-width: 30rem">
            <div class="card-header" style="background-color:#eef4fe">
                <div class="text-center">
                    <h2 style="font-weight:bold; font-weight:bold; font-size:25px">{{ workout_linked.workoutType }}</h2>
                    <h6 style="font-size:15px">{{ workout_linked.start_date }}
                    {% if not workout_linked.one_day %}
                        - {{workout_linked.end_date}}
                    {% endif %}
                    </h6>
                </div>
            </div>
            <div class="card-body" style="text-align:left">
                {% if workout_linked.workoutType.has_intensity %}
                    <p style="color: black"><b>Intensity: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.get_intensity_display }}</span></p>
                {% endif %}
                {% if workout_linked.workoutType.has_duration %}
                    <p style="color: black"><b>Duration: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.duration }}</span></p>
                {% endif %}
                {% if workout_linked.workoutType.has_distance_comp %}
                    <p style="color: black"><b>Distance: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.dist }}</span></p>
                {% endif %}
                {% if workout_linked.workoutType.has_first_count_component %}
                    <p style="color: black"><b>{{workout_linked.workoutType.first_count_component}}: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.raw_count }}</span></p>
                {% endif %}
                {% if workout_linked.workoutType.has_second_count_component %}
                    <p style="color: black"><b>{{workout_linked.workoutType.second_count_component}}: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.second_raw_count }}</span></p>
                {% endif %}
                {% if workout_linked.workoutType.has_set_rep_comp %}
                    <p style="color: black"><b>Sets: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.raw_set }}</span></p>
                    <p style="color: black"><b>Reps: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.raw_rep }}</span></p>
                {% endif %}
                {% if workout_linked.workoutType.has_weight_comp %}
                    <p style="color: black"><b>Weight: </b> <span style="font-weight:lighter; font-size:20px">{{ workout_linked.weight }}</span></p>
                {% endif %}

                <div class="row">
                    <div class="col">
                        <form action="" method="get">
                            <button class = "btn btn-outline-secondary" name="WeatherButton" value="{{ workout_linked.id }}">Weather</button>
                        </form>
                    </div>

                    <!-- <div class="text-right">
                        <form action="" method="get">
                            <button class = "btn btn-secondary mr-2 mb-2" name="EditButton" value="{{ workout_linked.id }}">Edit</button>
                        </form>

                        <form action="" method="get" onsubmit="return confirm('Are you sure you want to delete this workout?')">
                            <button class = "btn btn-dark mr-2 mb-2" name="DeleteButton" value="{{ workout_linked.id }}">Delete</button>
                        </form>
                    </div> -->

                    <div class="col">
                        <div class="dropdown text-right">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <form action="" method="get">
                                    <button class = "dropdown-item" name="EditButton" value="{{ workout_linked.id }}">Edit</button>
                                </form>

                                <form action="" method="get" onsubmit="return confirm('Are you sure you want to delete this workout?')">
                                    <button class = "dropdown-item" name="DeleteButton" value="{{ workout_linked.id }}">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No workouts are available.</p>
{% endif %}
</html>
</div>
{% endblock %}